body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
  font-size: 2.5em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

hr {
  margin: 100px auto;
  color: grey;
  border-style: none;
  border-top: dotted;
  border-width: 0.3em;
  width: 3%;
}

p {
  line-height: 2;
}

.title {
  font-weight: normal;
  font-size: 1.5em;
}

.intro {
  width: 50%;
  margin: auto;
}

.top-container {
  background-color: #E4F6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.dp {
  width: 15%;
}

.pmskill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.devtskill-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 1em 1.5em;
  background-color: #66BFBF;
  /* -webkit-box-shadow: 1px 1px 20px 0 #000000; */
  /* -moz-box-shadow: 1px 1px 20px 0 #000000; */
  /* box-shadow: 1px 1px 20px 0 #000000; */
  text-shadow: 1px 1px 1px #66BFBF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #11999E;
  border: solid #11999E 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}
